@page
@model IndexModel
@{
    ViewData["Title"] = "DevRoom";
}

<!-- Video Area Start-->
<div id="particles-js" style="background-image: url('images/particle-banner/1.jpg')">
    <section id="rs-particles-banner-area" class="rs-banner-area">
        <div class="row">
            <div class="rs-banner-content-wrap">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="container">
                            <h2 class="sl-subtitle white-color">Welcome To DevRoom</h2>
                            <h1 class="sl-title white-color">Best Consulting Service</h1>
                            <div class="sl-desc white-color"></div>
                            <div class="slider-botton">
                                <ul>                                   
                                    <li><a href="#rs-services" class="sl-btn">View More</a></li>
                                    <!--<li><a href="#" class="sl-btn">PURCHASE</a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--Video Area End-->
<!-- Main content Start -->
<div class="main-content">
    <!-- About Us Start -->
    <section id="rs-about" class="rs-about-3 sec-spacer">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="sec-title">
                        <h3>Welcome To DevRoom</h3>
                        <h4>World Best Consulting Agency</h4>
                    </div>
                    <p class="about-desc">
                        Devroom is an ICT company that offers a range of services such as Web Development, Mobile App Development, Software Engineering, Consulting etc. We provide long lasting solution services to our clients, small, medium and large companies. We build robust systems that are of value and beneficial to our clients and helping them to grow their business and become leaders in the services they offer.<br />
                    </p>

                    <!-- panel start -->
                    <div class="panel-group mb-0" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading active">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        Our History
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Devroom (Pty) Ltd is a registered company, and on level 1 BEE score and was founded in 2018 and registered in 2019. We promote diversity in our company and always up to date with technological trends to assist our clients to grow.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        Our Mission
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    To provide our clients with quality, concrete solutions that will help enhance their business and we ensure to exceed our clients expectations with the services.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        Our Vision
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    To provide solutions to our clients that solves their everyday challenges and help them grow their busineses.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- panel end -->
                </div>
                <div class="col-md-5">
                    <div class="about-img mpt-40">
                        <img src="~/images/about/about-3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us End -->
    <!-- Calltoaction Start -->
    <div id="rs-cta" class="rs-cta primary-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="cta-content">
                        <h3>Start Your Project Right</h3>
                        <p>
                            Passionate people and with the best tools and approaches at your disposal.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="cta-button text-right">
                        <a href="#rs-contact" class="readon border white">CONTACT US</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Calltoaction End -->
    <!-- Services Start -->
    <section id="rs-services" class="rs-services-3 pt-100 pb-70 gray-color">
        <div class="container">
            <div class="sec-title text-center">
                <h3>Our Services</h3>
                <p>
                    Below are some of our services we offer<br />
                </p>
            </div>
            <div class="row">
                <!-- 1st -->
                <div class="col-md-4 col-sm-6">
                    <div class="common">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="icon">
                                    <i class="fa fa-globe"></i>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="text">
                                    <h4>Web Applications</h4>
                                    <p>We build web applications that are user friendly, responsive and we ensure to take into consideration security in our applications we build.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 2nd -->
                <div class="col-md-4 col-sm-6">
                    <div class="common">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="icon">
                                    <i class="fa fa-desktop"></i>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="text">
                                    <h4>Desktop Applications</h4>
                                    <p>We create enterprise level solutions using rich web architecture. This ensures the durability of the solutions created and used regularly, alongside, quality user experience for your employees.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 3rd -->
                <div class="col-md-4 col-sm-6">
                    <div class="common">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="icon">
                                    <i class="fa fa-mobile"></i>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="text">
                                    <h4>Mobile Applications</h4>
                                    <p>We ensure to save your costs by providing mobile solutions that are cross platform and can run on any device such as Android, IOS, Windows phone.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Services End -->
    
    <!-- Team Start -->
    <section id="rs-team" class="rs-team4 gray-color sec-spacer">
        <div class="container">
            <div class="sec-title text-center">
                <h3>Meet Our Team</h3>
                <p>
                    Our solution oriented team that makes it possible
                </p>
            </div>

            <div class="team-carousel owl-carousel owl-navigation-yes">
                <!-- item 1 -->
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/images/team/1.jpg" alt="team Image" />
                    </div>
                    <div class="team-content">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h4 class="team-name"><a href="#">Kefilwe Mkhwanazi</a></h4>
                                <span class="team-title">CEO/FOUNDER</span>

                            </div>
                        </div>
                    </div>

                </div>

                <!-- item 2 -->
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/images/team/2.jpg" alt="team Image" />
                    </div>
                    <div class="team-content">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h4 class="team-name"><a href="#">Ofentse Faku</a></h4>
                                <span class="team-title">Branding Manager</span>

                            </div>
                        </div>
                    </div>

                </div>

                <!-- item 3 -->
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/images/team/3.jpg" alt="team Image" />
                    </div>
                    <div class="team-content">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h4 class="team-name"><a href="#">Sifiso Mazibuko</a></h4>
                                <span class="team-title">CTO/Lead Developer</span>

                            </div>
                        </div>
                    </div>

                </div>

                <!-- item 4 -->
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/images/team/4.jpg" alt="team Image" />
                    </div>
                    <div class="team-content">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h4 class="team-name"><a href="#">Lesly Malatji</a></h4>
                                <span class="team-title">Developer</span>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- Team end

    
    <!-- map -->
    <div id="g-map" class="g-map"></div>
    <!-- map end -->
    <!-- Contact Start -->
    <section id="rs-contact" class="rs-contact gray-color pb-100">
        <div class="container">
            <div class="row">
                <div class="contact-bg">
                    <div class="margin col-md-5">
                        <div class="contact-address">
                            <div class="contact-address-title">
                                <h2>Contact Details</h2>
                                <p>Keep in touch with us below and we will respond shortly!!</p>
                            </div>
                            <div class="address-item">
                                <div class="address-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="address-text">
                                    (072) 253 9158 <br>
                                    (082) 474 7431
                                </div>
                            </div>
                            <div class="address-item">
                                <div class="address-icon">
                                    <i class="fa fa-envelope-open-o"></i>
                                </div>
                                <div class="address-text">
                                    support@devroomsa.com <br>
                                    www.devroomsa.com
                                </div>
                            </div>
                            <div class="address-item">
                                <div class="address-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="address-text">
                                    503  Old Buffalo Street <br>
                                    Northwest #205, JHB-3087
                                </div>
                            </div>
                            <div class="social-icon-bottom">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/DevRoomSA/"><i class="fa fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com/DevRoom_SA/"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/devroom-sa/about/"><i class="fa fa-linkedin"></i></a>
                                    </li>                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="margin col-md-7">
                        <div class="contact-form">
                            <div class="contact-form-title">
                                <p class="contact-title">Quick Contact</p>
                            </div>
                            <div id="form-messages"></div>
                            <form id="contact-form" method="post" action="mailer.php">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-field">
                                            <i class="fa fa-address-book-o"></i>
                                            <input type="text" placeholder="Name" id="name" name="name" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-field">
                                            <i class="fa fa-envelope-o"></i>
                                            <input type="email" placeholder="E-Mail" id="email" name="email" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-field">
                                            <i class="fa fa-phone"></i>
                                            <input type="text" placeholder="Phone Number" id="phone_number" name="phone_number" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-field">
                                            <i class="fa fa-gear"></i>
                                            <input type="text" placeholder="Your Website" id="website" name="website" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-field">
                                    <textarea placeholder="Your Message Here" rows="7" id="message" name="message" required></textarea>
                                </div>
                                <div class="form-button">
                                    <button type="submit" class="readon">SUBMIT NOW</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Contact End -->
    
</div>
