@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Video Area Start-->
<div id="particles-js">
    <section id="rs-particles-banner-area" class="rs-banner-area">
        <div class="row">
            <div class="rs-banner-content-wrap">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="container">
                            <h2 class="sl-subtitle white-color">Welcome To DevRoom</h2>
                            <h1 class="sl-title white-color">Best Consulting Service</h1>
                            <div class="sl-desc white-color"></div>
                            <div class="slider-botton">
                                <ul>
                                    <li><a href="#" class="sl-btn">READ MORE</a></li>
                                    <!--<li><a href="#" class="sl-btn">PURCHASE</a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--Video Area End-->
<!-- Main content Start -->
<div class="main-content">
    <!-- About Us Start -->
    <section id="rs-about" class="rs-about-3 sec-spacer">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="sec-title">
                        <h3>Welcome To DevRoom</h3>
                        <h4>World Best Consulting Agency</h4>
                    </div>
                    <p class="about-desc">
                        Suspendisse ex neque, sollicitudin in velit eu, luctus gravida nunc. Nulla pul- <br />
                        vinar risus sed metus euismod sodales ut sed nisi. Nulla posuere suscipit<br /> finibus. Quisque placerat vitae lacus ut scelerisque. Fusce luctus odio ac nibh<br /> luctus, in porttitor lacus egestas. Nunc erat libero. Free online Lorem Ipsum<br /> dummy text generator with great features.
                    </p>

                    <!-- panel start -->
                    <div class="panel-group mb-0" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading active">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        Our History
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Green building refers to both a structure and the application of processes that are environmentally responsible. Renovations are typically either commercial or free. We provide also different services like design, plubming etc.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        Our Mission
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Green building refers to both a structure and the application of processes that are environmentally responsible. Renovations are typically either commercial or free. We provide also different services like design, plubming etc
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        Our Vision
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Green building refers to both a structure and the application of processes that are environmentally responsible. Renovations are typically either commercial or free. We provide also different services like design, plubming etc
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- panel end -->
                </div>
                <div class="col-md-5">
                    <div class="about-img mpt-40">
                        <img src="~/images/about/about-3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us End -->
    <!-- Calltoaction Start -->
    <div id="rs-cta" class="rs-cta primary-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="cta-content">
                        <h3>Start Your Project Right</h3>
                        <p>
                            Passionate people and with the best tools and approaches at your disposal.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="cta-button text-right">
                        <a href="#" class="readon border white">JOIN NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Calltoaction End -->
    <!-- Services Start -->
    <section id="rs-services" class="rs-services-3 pt-100 pb-70 gray-color">
        <div class="container">
            <div class="sec-title text-center">
                <h3>Our Services</h3>
                <p>
                    Neque porro quisquam est, qui dolorem ipsum quia<br />
                    dolor sit amet, consectetur adipisci velit, sed quia non numquam eius modi
                </p>
            </div>
            <div class="row">
                <!-- 1st -->
                <div class="col-md-4 col-sm-6">
                    <div class="common">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="icon">
                                    <i class="fa fa-suitcase"></i>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="text">
                                    <h4>Business Consulting</h4>
                                    <p>Lorem ipsum dolor sit amet dolore, consectetur adipisicing elit. Nulla, quam dolore nemo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 2nd -->
                <div class="col-md-4 col-sm-6">
                    <div class="common">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="icon">
                                    <i class="fa fa-bar-chart"></i>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="text">
                                    <h4>Market Research</h4>
                                    <p>Lorem ipsum dolor sit amet dolore, consectetur adipisicing elit. Nulla, quam dolore nemo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 3rd -->
                <div class="col-md-4 col-sm-6">
                    <div class="common">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="icon">
                                    <i class="fa fa-diamond"></i>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="text">
                                    <h4>Risk Management</h4>
                                    <p>Lorem ipsum dolor sit amet dolore, consectetur adipisicing elit. Nulla, quam dolore nemo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 4th -->
                <div class="col-md-4 col-sm-6">
                    <div class="common">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="icon">
                                    <i class="fa fa-bank"></i>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="text">
                                    <h4>Financial Consulting</h4>
                                    <p>Lorem ipsum dolor sit amet dolore, consectetur adipisicing elit. Nulla, quam dolore nemo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 5th -->
                <div class="col-md-4 col-sm-6">
                    <div class="common">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="icon">
                                    <i class="fa fa-credit-card"></i>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="text">
                                    <h4>Market Consulting</h4>
                                    <p>Lorem ipsum dolor sit amet dolore, consectetur adipisicing elit. Nulla, quam dolore nemo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 6th -->
                <div class="col-md-4 col-sm-6">
                    <div class="common">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="icon">
                                    <i class="fa fa-simplybuilt"></i>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="text">
                                    <h4>Expense Budgeting</h4>
                                    <p>Lorem ipsum dolor sit amet dolore, consectetur adipisicing elit. Nulla, quam dolore nemo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services End -->
    <!-- Expertise Area satar -->
    <div class="why-choose-us pt-100 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="choose-Us">
                        <div class="choose-Us-title">
                            <h3>Why Choose Us</h3>
                        </div>
                        <div class="choose-Us-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus sollicitudin pellentesque et non erat. Maecenas nibh dolor, malesuada et bibendum a, sagittis accumsan ipsum. Pellentesque ultrices ultrices sapien, nec tincidunt nunc posuere ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque tristique dolor vitae tincidunt. Aenean quis massa uada mi elementum elementum. Nec sapien convallis vulputate rhoncus vel dui.</p>
                            <!-- main goal -->
                            <div class="main-goal">
                                <h5>Our main goals:</h5>
                                <p>
                                    <i class="fa fa-angle-double-right"></i>
                                    Blandit praesent luptatum zzril delenit augue duis dolore.
                                </p>
                                <p>
                                    <i class="fa fa-angle-double-right"></i>
                                    Eum iriure dolor in hendrerit in vulputate velit esse.
                                </p>
                                <p>
                                    <i class="fa fa-angle-double-right"></i>
                                    Blandit praesent luptatum zzril delenit augue duis ande.
                                </p>
                                <p>
                                    <i class="fa fa-angle-double-right"></i>
                                    Mueet spot between googles gidelines and what is merc.
                                </p>
                                <p>
                                    <i class="fa fa-angle-double-right"></i>
                                    Pellentesque ultrices ultrices sapien, nec tincidunt nunc.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="rs-skills" class="rs-skills gray-bg">
                        <div class="sec-title">
                            <h3>Our Expertise Area</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus sollicitudin pellentesque et non erat. Maecenas nibh dolor, malesuada et bibendum</p>
                        </div>

                        <!-- Team Details Start -->
                        <div id="rs-team-details" class="rs-team-details">
                            <div class="member-details">
                                <div class="cl-skill-bar">
                                    <!-- Start Skill Bar -->
                                    <div class="skillbar-title">Financial Consulting</div>
                                    <div class="skillbar" data-percent="68">
                                        <p class="skillbar-bar" style="width: 68%;"></p>
                                        <span class="skill-bar-percent">68%</span>
                                    </div>
                                    <!-- Start Skill Bar -->
                                    <div class="skillbar-title">Marketing Consulting</div>
                                    <div class="skillbar" data-percent="87">
                                        <p class="skillbar-bar" style="width: 87%;"></p>
                                        <span class="skill-bar-percent">87%</span>
                                    </div>
                                    <!-- Start Skill Bar -->
                                    <div class="skillbar-title">Business Consulting</div>
                                    <div class="skillbar" data-percent="80">
                                        <p class="skillbar-bar" style="width: 80%;"></p>
                                        <span class="skill-bar-percent">80%</span>
                                    </div>
                                    <!-- Start Skill Bar -->
                                    <div class="skillbar-title">Risk Management</div>
                                    <div class="skillbar mb-0" data-percent="87">
                                        <p class="skillbar-bar" style="width: 87%;"></p>
                                        <span class="skill-bar-percent">87%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Team Details End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Expertise Area end -->
    <!-- HOW WE WORK Start -->
    <div class="how-we-work pt-100 pb-80 gray-color">
        <div class="container">
            <div class="sec-title">
                <h3>How We Work</h3>
                <p>
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,consectetur<br />
                    adipisci velit, sed quia non numquam eius modi
                </p>
            </div>
            <div class="work-sec-gallery">
                <div class="row">
                    <div class="col-md-3">
                        <div class="work-column">
                            <div class="common-box">
                                <img src="~/images/work/work-1.jpg" alt="">
                            </div>
                            <div class="work-gallery-caption">
                                <h4>Sketch</h4>
                                <p>
                                    Sed ut perspiciatis unde omnis natus error sit vo-luptatem accusantium dolore mque laudantium, totam rem
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="work-column">
                            <div class="common-box">
                                <img src="~/images/work/work-3.jpg" alt="">
                            </div>
                            <div class="work-gallery-caption">
                                <h4>Design</h4>
                                <p>
                                    Sed ut perspiciatis unde omnis natus error sit vo-luptatem accusantium dolore mque laudantium, totam rem
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="work-column">
                            <div class="common-box">
                                <img src="~/images/work/work-4.jpg" alt="">
                            </div>
                            <div class="work-gallery-caption">
                                <h4>Analysis</h4>
                                <p>
                                    Sed ut perspiciatis unde omnis natus error sit vo-luptatem accusantium dolore mque laudantium, totam rem
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="work-column">
                            <div class="common-box">
                                <img src="~/images/work/work-2.jpg" alt="">
                            </div>
                            <div class="work-gallery-caption">
                                <h4>Development</h4>
                                <p>
                                    Sed ut perspiciatis unde omnis natus error sit vo-luptatem accusantium dolore mque laudantium, totam rem
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- HOW WE WORK END -->
    <!-- video section start -->
    <section class="video-sec">
        <div class="overly">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="sec-title white-text">
                            <h3>General Questions</h3>
                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur adipisci velit, sed quia non numquam eius modi</p>
                        </div>
                        <div class="panel-group mb-0" id="accordion2">
                            <div class="panel panel-default">
                                <div class="panel-heading active">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#ourhistory">
                                            Our History
                                        </a>
                                    </h4>
                                </div>
                                <div id="ourhistory" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        Green building refers to both a structure and the application of processes that are environmentally responsible. Renovations are typically either commercial or free. We provide also different services like design, plubming etc.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#ourmission">
                                            Our Mission
                                        </a>
                                    </h4>
                                </div>
                                <div id="ourmission" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Green building refers to both a structure and the application of processes that are environmentally responsible. Renovations are typically either commercial or free. We provide also different services like design, plubming etc
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#ourvision">
                                            Our Vision
                                        </a>
                                    </h4>
                                </div>
                                <div id="ourvision" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Green building refers to both a structure and the application of processes that are environmentally responsible. Renovations are typically either commercial or free. We provide also different services like design, plubming etc
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mpt-40">
                        <div class="video-section-area">
                            <img src="~/images/video/video.jpg" alt="">
                            <a class="popup-videos" href="https://www.youtube.com/watch?v=YLN1Argi7ik" title="Video Icon">
                                <img class="video-icon" src="images/video/video-icon.png" alt="">
                            </a>
                            <div class="overly-border"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- video section end -->
    <!-- Team Start -->
    <section id="rs-team" class="rs-team4 gray-color sec-spacer">
        <div class="container">
            <div class="sec-title text-center">
                <h3>Meet Our Team</h3>
                <p>
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur<br />
                    adipisci velit, sed quia non numquam eius modi
                </p>
            </div>

            <div class="team-carousel owl-carousel owl-navigation-yes">
                <!-- item 1 -->
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/images/team/1.jpg" alt="team Image" />
                    </div>
                    <div class="team-content">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h4 class="team-name"><a href="#">K.Mkhwanazi</a></h4>
                                <span class="team-title">FOUNDER & CEO</span>
                                <p class="team-desc">Praesent sit amet ultricies orci. Sed blandit aliquet velit semper conval Nam cursus ullamcorper.</p>
                            </div>
                        </div>
                    </div>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>

                <!-- item 2 -->
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/images/team/2.jpg" alt="team Image" />
                    </div>
                    <div class="team-content">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h4 class="team-name"><a href="#">Ofentse</a></h4>
                                <span class="team-title">FOUNDER & CEO</span>
                                <p class="team-desc">Praesent sit amet ultricies orci. Sed blandit aliquet velit semper conval Nam cursus ullamcorper.</p>
                            </div>
                        </div>
                    </div>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>

                <!-- item 3 -->
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/images/team/3.jpg" alt="team Image" />
                    </div>
                    <div class="team-content">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h4 class="team-name"><a href="#">Sifiso Mazibuko</a></h4>
                                <span class="team-title">Senior Developer</span>
                                <p class="team-desc">Praesent sit amet ultricies orci. Sed blandit aliquet velit semper conval Nam cursus ullamcorper.</p>
                            </div>
                        </div>
                    </div>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>

                <!-- item 4 -->
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/images/team/4.jpg" alt="team Image" />
                    </div>
                    <div class="team-content">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h4 class="team-name"><a href="#">Lesly</a></h4>
                                <span class="team-title">manager</span>
                                <p class="team-desc">Praesent sit amet ultricies orci. Sed blandit aliquet velit semper conval Nam cursus ullamcorper.</p>
                            </div>
                        </div>
                    </div>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- Team end
    <!-- Pricing Tables Start
    <section id="rs-pricing" class="rs-pricing pt-100 pb-70">
        <div class="container">
            <div class="sec-title text-center">
                <h3>Our Pricing Plans</h3>
                <p>
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur<br />
                    adipisci velit, sed quia non numquam eius modi
                </p>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 wow slideInLeft" data-wow-duration=".8s" data-wow-delay=".2s">
                    <div class="pricing-plan">
                        <div class="pricing-head">
                            <div class="name">
                                BASIC PLAN
                            </div>
                            <div class="price">
                                <span class="value">
                                    <sup>$</sup>25.99
                                </span>
                                <span class="duration">
                                    / month
                                </span>
                            </div>
                        </div>
                        <div class="pricing-body">
                            <ul>
                                <li>
                                    25 Analytics Campaigns
                                </li>
                                <li>
                                    1,900 Keywords
                                </li>
                                <li>
                                    1,250,000 Crawled Pages
                                </li>
                                <li>
                                    Includes Branded Reports
                                </li>
                                <li>
                                    50 Social Accounts
                                </li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#" class="p-button">PURCHASE NOW</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-duration=".8s" data-wow-delay=".5s">
                    <div class="pricing-plan selected featured">
                        <div class="pricing-head">
                            <div class="name">
                                ADVANCE PLAN
                            </div>
                            <div class="price">
                                <span class="value">
                                    <sup>$</sup>35.99
                                </span>
                                <span class="duration">
                                    / month
                                </span>
                            </div>
                        </div>
                        <div class="pricing-body">
                            <ul>
                                <li>
                                    25 Analytics Campaigns
                                </li>
                                <li>
                                    1,900 Keywords
                                </li>
                                <li>
                                    1,250,000 Crawled Pages
                                </li>
                                <li>
                                    Includes Branded Reports
                                </li>
                                <li>
                                    50 Social Accounts
                                </li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#" class="p-button">PURCHASE NOW</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 hidden-sm wow slideInRight" data-wow-duration=".8s" data-wow-delay=".2s">
                    <div class="pricing-plan">
                        <div class="pricing-head">
                            <div class="name">
                                PREMIUM PLAN
                            </div>
                            <div class="price">
                                <span class="value">
                                    <sup>$</sup>55.99
                                </span>
                                <span class="duration">
                                    / month
                                </span>
                            </div>
                        </div>
                        <div class="pricing-body">
                            <ul>
                                <li>
                                    25 Analytics Campaigns
                                </li>
                                <li>
                                    1,900 Keywords
                                </li>
                                <li>
                                    1,250,000 Crawled Pages
                                </li>
                                <li>
                                    Includes Branded Reports
                                </li>
                                <li>
                                    50 Social Accounts
                                </li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#" class="p-button">PURCHASE NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing Tables End -->
    <!-- Counter Up Section Start Here-->
    <div class="counter-top-area sec-spacer">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="sec-title mb-30 white-text">
                        <h3>Our Achievements</h3>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,<br /> consectetur adipisci velit, sed quia non numquam eius modi.</p>
                    </div>
                    <div class="counter-slider">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="   active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="~/images/counter/1.jpg" alt="">
                                </div>

                                <div class="item">
                                    <img src="~/images/counter/2.jpg" alt="">
                                </div>

                                <div class="item">
                                    <img src="~/images/counter/3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mpt-40">
                    <div class="rs-count sidebar-count">
                        <div class="row">
                            <!-- COUNTER-LIST START -->
                            <div class="col-sm-6  wow fadeInUp" data-wow-duration=".3s" data-wow-delay="300ms">
                                <div class="rs-counter-list">
                                    <i class="fa fa-hand-peace-o"></i>
                                    <h3 class="rs-counter parsent">100</h3>
                                    <h4>Client Retentions</h4>
                                </div>
                            </div>
                            <!-- COUNTER-LIST END -->
                            <!-- COUNTER-LIST START -->
                            <div class="col-sm-6  wow fadeInUp" data-wow-duration=".7s" data-wow-delay="300ms">
                                <div class="rs-counter-list">
                                    <i class="fa fa-group"></i>
                                    <h3 class="rs-counter">33028</h3>
                                    <h4>Satisfied Clients</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- COUNTER-LIST END -->
                            <!-- COUNTER-LIST START -->
                            <div class="col-sm-6  wow fadeInUp" data-wow-duration=".9s" data-wow-delay="300ms">
                                <div class="rs-counter-list">
                                    <i class="fa fa-gears"></i>
                                    <h3 class="rs-counter">25</h3>
                                    <h4>Years of Service</h4>
                                </div>
                            </div>
                            <!-- COUNTER-LIST END -->
                            <!-- COUNTER-LIST START -->
                            <div class="col-sm-6  wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="300ms">
                                <div class="rs-counter-list">
                                    <i class="fa fa-database"></i>
                                    <h3 class="rs-counter">339</h3>
                                    <h4 class="last">Professionals</h4>
                                </div>
                            </div>
                            <!-- COUNTER-LIST END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Counter Down Section End Here-->
    <!-- Portfolio Start -->
    <section id="rs-portfolio" class="rs-portfolio gray-color pt-100 pb-70">
        <div class="container">
            <div class="sec-title text-center">
                <h3>Our Portfolio</h3>
                <p>
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur<br />
                    adipisci velit, sed quia non numquam eius modi
                </p>
            </div>
            <div class="portfolio-filter">
                <button class="active" data-filter="*">ALL PROJECT</button>
                <button data-filter=".filter1">PROFILE</button>
                <button data-filter=".filter2">BUSINESS</button>
                <button data-filter=".filter3">FINANCE</button>
                <button data-filter=".filter4">MARKETING</button>
            </div>
            <div class="row">
                <div class="grid">
                    <div class="col-md-4 col-sm-6 col-xs-6 grid-item mb-29 filter1">
                        <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img src="~/images/portfolio/1.jpg" alt="Portfolio Image" />
                            </div>
                            <div class="portfolio-content">
                                <div class="border-overly"></div>
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <!-- zoom btn -->
                                        <a class="image-popup p-zoom" href="~/images/portfolio/1.jpg" title="Project Title">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <!-- view btn -->
                                        <a class="btn-view" href="#">
                                            <i class="fa fa-paper-plane"></i>
                                        </a>

                                        <h4 class="p-title"><a href="portfolio-details.html">Project Name</a></h4>
                                        <p class="p-desc">Lorem Ipsum is not simply random text</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 grid-item mb-29 filter2 filter3">
                        <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img src="~/images/portfolio/2.jpg" alt="Portfolio Image" />
                            </div>
                            <div class="portfolio-content">
                                <div class="border-overly"></div>
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <a class="image-popup p-zoom" href="~/images/portfolio/2.jpg" title="Project Title">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <a class="btn-view" href="#">
                                            <i class="fa fa-paper-plane"></i>
                                        </a>

                                        <h4 class="p-title"><a href="portfolio-details.html">Project Name</a></h4>
                                        <p class="p-desc">Lorem Ipsum is not simply random text</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 grid-item mb-29 filter1">
                        <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img src="~/images/portfolio/3.jpg" alt="Portfolio Image" />
                            </div>
                            <div class="portfolio-content">
                                <div class="border-overly"></div>
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <a class="image-popup p-zoom" href="~/images/portfolio/3.jpg" title="Project Title">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <a class="btn-view" href="#">
                                            <i class="fa fa-paper-plane"></i>
                                        </a>

                                        <h4 class="p-title"><a href="portfolio-details.html">Project Name</a></h4>
                                        <p class="p-desc">Lorem Ipsum is not simply random text</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 grid-item mb-29 filter2 filter4">
                        <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img src="~/images/portfolio/4.jpg" alt="Portfolio Image" />
                            </div>
                            <div class="portfolio-content">
                                <div class="border-overly"></div>
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <a class="image-popup p-zoom" href="~/images/portfolio/4.jpg" title="Project Title">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <a class="btn-view" href="#">
                                            <i class="fa fa-paper-plane"></i>
                                        </a>

                                        <h4 class="p-title"><a href="portfolio-details.html">Project Name</a></h4>
                                        <p class="p-desc">Lorem Ipsum is not simply random text</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 grid-item mb-29 filter1">
                        <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img src="~/images/portfolio/5.jpg" alt="Portfolio Image" />
                            </div>
                            <div class="portfolio-content">
                                <div class="border-overly"></div>
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <a class="image-popup p-zoom" href="~/images/portfolio/5.jpg" title="Project Title">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <a class="btn-view" href="#">
                                            <i class="fa fa-paper-plane"></i>
                                        </a>

                                        <h4 class="p-title"><a href="portfolio-details.html">Project Name</a></h4>
                                        <p class="p-desc">Lorem Ipsum is not simply random text</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 grid-item mb-29 filter3">
                        <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img src="~/images/portfolio/6.jpg" alt="Portfolio Image" />
                            </div>
                            <div class="portfolio-content">
                                <div class="border-overly"></div>
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <a class="image-popup p-zoom" href="~/images/portfolio/6.jpg" title="Project Title">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <a class="btn-view" href="#">
                                            <i class="fa fa-paper-plane"></i>
                                        </a>

                                        <h4 class="p-title"><a href="portfolio-details.html">Project Name</a></h4>
                                        <p class="p-desc">Lorem Ipsum is not simply random text</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio End -->
    <!-- customer Start -->
    <section id="rs-customer" class="rs-customer3 sec-spacer">
        <div class="container">
            <div class="sec-title text-center">
                <h3>Our Customer Reviews</h3>
                <p>
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur<br />
                    adipisci velit, sed quia non numquam eius modi
                </p>
            </div>
            <div class="customer-carousel owl-carousel owl-navigation-yes">
                <!-- Style 1 Start -->
                <div class="customer-item">
                    <div class="item-img">
                        <img src="~/images/testimonial2/1.jpg" alt="">
                    </div>
                    <div class="item-details">
                        <p>Nunc in lacus lectus. Duis sodales in arcu vitae commodo. Proin aliquam viverra dignissim. Nunc viverra lacus id vulputate pharetra. Vivamus</p>
                    </div>
                    <div class="item-author">
                        <div class="item-name">
                            Stive
                        </div>
                        <div class="item-designation">
                            Designer
                        </div>
                    </div>
                </div>
                <!-- Style 1 End -->
                <!-- Style 2 Start -->
                <div class="customer-item">
                    <div class="item-img">
                        <img src="~/images/testimonial2/2.jpg" alt="">
                    </div>
                    <div class="item-details">
                        <p>Nunc in lacus lectus. Duis sodales in arcu vitae commodo. Proin aliquam viverra dignissim. Nunc viverra lacus id vulputate pharetra. Vivamus</p>
                    </div>
                    <div class="item-author">
                        <div class="item-name">
                            Jessi Jully
                        </div>
                        <div class="item-designation">
                            Developer
                        </div>
                    </div>
                </div>
                <!-- Style 2 End -->
                <!-- Style 3 Start -->
                <div class="customer-item">
                    <div class="item-img">
                        <img src="~/images/testimonial2/3.jpg" alt="">
                    </div>
                    <div class="item-details">
                        <p>Nunc in lacus lectus. Duis sodales in arcu vitae commodo. Proin aliquam viverra dignissim. Nunc viverra lacus id vulputate pharetra. Vivamus</p>
                    </div>
                    <div class="item-author">
                        <div class="item-name">
                            Lisa Broom
                        </div>
                        <div class="item-designation">
                            ceo
                        </div>
                    </div>
                </div>
                <!-- Style 3 End -->
                <!-- Style 4 Start -->
                <div class="customer-item">
                    <div class="item-img">
                        <img src="~/images/testimonial2/4.jpg" alt="">
                    </div>
                    <div class="item-details">
                        <p>Nunc in lacus lectus. Duis sodales in arcu vitae commodo. Proin aliquam viverra dignissim. Nunc viverra lacus id vulputate pharetra. Vivamus</p>
                    </div>
                    <div class="item-author">
                        <div class="item-name">
                            Lisa Broom
                        </div>
                        <div class="item-designation">
                            Manager
                        </div>
                    </div>
                </div>
                <!-- Style 4 End -->
            </div>
        </div>
    </section>
    <!-- customar end -->
    <!-- Blog Start -->
    <section id="rs-blog" class="rs-blog gray-color pt-100 pb-70">
        <div class="container">
            <div class="sec-title text-center">
                <h3>Our Latest Blogs</h3>
            </div>
            <div class="blog-carousel owl-carousel owl-navigation-yes">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/images/blog/1.jpg" alt="Blog Image">
                        <div class="blog-img-content">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <a class="blog-link" href="#" title="Blog Title">
                                        <i class="fa fa-link"></i>
                                    </a>
                                    <h4 class="blog-title"><a href="blog-details.html">Read More</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-meta">
                        <div class="blog-date">
                            22 May 2014
                        </div>
                        <div class="blog-lc">
                            <div class="like">
                                <i class="fa fa-heart"></i> 5
                            </div>
                            <div class="view">
                                <i class="fa fa-eye"></i> 3
                            </div>
                        </div>
                    </div>
                    <div class="blog-desc">
                        <a href="blog-details.html">Business Growth and Maturation</a>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium del eniti atque corrupti quos dolores.</p>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/images/blog/2.jpg" alt="Blog Image">
                        <div class="blog-img-content">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <a class="blog-link" href="#" title="Blog Title">
                                        <i class="fa fa-link"></i>
                                    </a>
                                    <h4 class="blog-title"><a href="blog-details.html">Read More</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-meta">
                        <div class="blog-date">
                            17 April 2013
                        </div>
                        <div class="blog-lc">
                            <div class="like">
                                <i class="fa fa-heart"></i> 5
                            </div>
                            <div class="view">
                                <i class="fa fa-eye"></i> 3
                            </div>
                        </div>
                    </div>
                    <div class="blog-desc">
                        <a href="blog-details.html">Company Anual Tour</a>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium del eniti atque corrupti quos dolores.</p>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/images/blog/3.jpg" alt="Blog Image">
                        <div class="blog-img-content">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <a class="blog-link" href="#" title="Blog Title">
                                        <i class="fa fa-link"></i>
                                    </a>
                                    <h4 class="blog-title"><a href="blog-details.html">Read More</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-meta">
                        <div class="blog-date">
                            21 March 2015
                        </div>
                        <div class="blog-lc">
                            <div class="like">
                                <i class="fa fa-heart"></i> 5
                            </div>
                            <div class="view">
                                <i class="fa fa-eye"></i> 3
                            </div>
                        </div>
                    </div>
                    <div class="blog-desc">
                        <a href="blog-details.html">Perfect Work Zone</a>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium del eniti atque corrupti quos dolores.</p>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/images/blog/4.jpg" alt="Blog Image">
                        <div class="blog-img-content">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <a class="blog-link" href="#" title="Blog Title">
                                        <i class="fa fa-link"></i>
                                    </a>
                                    <h4 class="blog-title"><a href="blog-details.html">Read More</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-meta">
                        <div class="blog-date">
                            25 Jan 2018
                        </div>
                        <div class="blog-lc">
                            <div class="like">
                                <i class="fa fa-heart"></i> 5
                            </div>
                            <div class="view">
                                <i class="fa fa-eye"></i> 7
                            </div>
                        </div>
                    </div>
                    <div class="blog-desc">
                        <a href="blog-details.html">Company Anual Tour</a>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium del eniti atque corrupti quos dolores.</p>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/images/blog/5.jpg" alt="Blog Image">
                        <div class="blog-img-content">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <a class="blog-link" href="#" title="Blog Title">
                                        <i class="fa fa-link"></i>
                                    </a>
                                    <h4 class="blog-title"><a href="blog-details.html">Read More</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-meta">
                        <div class="blog-date">
                            15 Aug 2018
                        </div>
                        <div class="blog-lc">
                            <div class="like">
                                <i class="fa fa-heart"></i> 7
                            </div>
                            <div class="view">
                                <i class="fa fa-eye"></i> 2
                            </div>
                        </div>
                    </div>
                    <div class="blog-desc">
                        <a href="blog-details.html">Perfect Work Zone</a>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium del eniti atque corrupti quos dolores.</p>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/images/blog/6.jpg" alt="Blog Image">
                        <div class="blog-img-content">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <a class="blog-link" href="#" title="Blog Title">
                                        <i class="fa fa-link"></i>
                                    </a>
                                    <h4 class="blog-title"><a href="blog-details.html">Read More</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-meta">
                        <div class="blog-date">
                            22 Feb 2015
                        </div>
                        <div class="blog-lc">
                            <div class="like">
                                <i class="fa fa-heart"></i> 8
                            </div>
                            <div class="view">
                                <i class="fa fa-eye"></i> 6
                            </div>
                        </div>
                    </div>
                    <div class="blog-desc">
                        <a href="blog-details.html">Advertising Campaigns</a>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium del eniti atque corrupti quos dolores.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog End -->
    <!-- map -->
    <div id="g-map" class="g-map"></div>
    <!-- map end -->
    <!-- Contact Start -->
    <section id="rs-contact" class="rs-contact gray-color pb-100">
        <div class="container">
            <div class="row">
                <div class="contact-bg">
                    <div class="margin col-md-5">
                        <div class="contact-address">
                            <div class="contact-address-title">
                                <h2>Address</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                            </div>
                            <div class="address-item">
                                <div class="address-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="address-text">
                                    +3453-909-6565 <br>
                                    +2390-875-2235
                                </div>
                            </div>
                            <div class="address-item">
                                <div class="address-icon">
                                    <i class="fa fa-envelope-open-o"></i>
                                </div>
                                <div class="address-text">
                                    support@devroomsa.com <br>
                                    www.devroom.com
                                </div>
                            </div>
                            <div class="address-item">
                                <div class="address-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="address-text">
                                    503  Old Buffalo Street <br>
                                    Northwest #205, New York-3087
                                </div>
                            </div>
                            <div class="social-icon-bottom">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="margin col-md-7">
                        <div class="contact-form">
                            <div class="contact-form-title">
                                <p class="contact-title">Quick Contact</p>
                            </div>
                            <div id="form-messages"></div>
                            <form id="contact-form" method="post" action="mailer.php">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-field">
                                            <i class="fa fa-address-book-o"></i>
                                            <input type="text" placeholder="Name" id="name" name="name" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-field">
                                            <i class="fa fa-envelope-o"></i>
                                            <input type="email" placeholder="E-Mail" id="email" name="email" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-field">
                                            <i class="fa fa-phone"></i>
                                            <input type="text" placeholder="Phone Number" id="phone_number" name="phone_number" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-field">
                                            <i class="fa fa-gear"></i>
                                            <input type="text" placeholder="Your Website" id="website" name="website" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-field">
                                    <textarea placeholder="Your Message Here" rows="7" id="message" name="message" required></textarea>
                                </div>
                                <div class="form-button">
                                    <button type="submit" class="readon">SUBMIT NOW</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact End -->
    <!-- Partner Start -->
    <div id="rs-defult-partner" class="rs-defult-partner sec-spacer">
        <div class="container">
            <div class="sec-title">
                <h3>Our Partners </h3>
            </div>
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="5" data-margin="30" data-autoplay="true" data-autoplay-timeout="8000" data-smart-speed="2000" data-dots="false" data-nav="true" data-nav-speed="false" data-mobile-device="2" data-mobile-device-nav="true" data-mobile-device-dots="false" data-ipad-device="3" data-ipad-device-nav="true" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="5" data-md-device-nav="true" data-md-device-dots="false">
                <div class="partner-item">
                    <a href="#"><img src="~/images/partner/1.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="~/images/partner/2.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="~/images/partner/3.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="~/images/partner/4.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="~/images/partner/5.png" alt="Partner Image"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner End -->
</div>
